/* highlight quotes with section colour */
strong {
  background-color: #ECECEC;
}

/* general button stroke turn section colour on hover */
.general-button:active {
  background-color: #ECECEC;
  border: 0px;
}

.general-button:hover,
nav-button:focus {
  border: 3px solid #ECECEC;
}

/* general icon buttons */
.button-bg:hover,
button-bg:focus {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.button-bg:active {
  border: 2px solid #ECECEC;
  background-color: #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

/* cursor selection matches section colour */
p::-moz-selection {
  background-color: #ECECEC;
}
p::selection {
  background-color: #ECECEC;
}
p::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
p::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

em::-moz-selection {
  background-color: #ECECEC;
}

em::selection {
  background-color: #ECECEC;
}
em::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
em::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

strong::-moz-selection {
  background-color: #ECECEC;
}

strong::selection {
  background-color: #ECECEC;
}
strong::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
strong::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

code::-moz-selection {
  background-color: #ECECEC;
}

code::selection {
  background-color: #ECECEC;
}
code::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
code::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

h1::-moz-selection {
  background-color: #ECECEC;
}

h1::selection {
  background-color: #ECECEC;
}
h1::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
h1::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

h2::-moz-selection {
  background-color: #ECECEC;
}

h2::selection {
  background-color: #ECECEC;
}
h2::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
h2::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

h3::-moz-selection {
  background-color: #ECECEC;
}

h3::selection {
  background-color: #ECECEC;
}
h3::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
h3::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

h4::-moz-selection {
  background-color: #ECECEC;
}

h4::selection {
  background-color: #ECECEC;
}
h4::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
h4::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

h5::-moz-selection {
  background-color: #ECECEC;
}

h5::selection {
  background-color: #ECECEC;
}
h5::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
h5::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

a::-moz-selection {
  background-color: #ECECEC;
}

a::selection {
  background-color: #ECECEC;
}
a::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
a::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

ul::-moz-selection {
  background-color: #ECECEC;
}

ul::selection {
  background-color: #ECECEC;
}
ul::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
ul::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

ol::-moz-selection {
  background-color: #ECECEC;
}

ol::selection {
  background-color: #ECECEC;
}
ol::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
ol::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

li::-moz-selection {
  background-color: #ECECEC;
}

li::selection {
  background-color: #ECECEC;
}
li::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
li::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

img::-moz-selection {
  background-color: #ECECEC;
}

img::selection {
  background-color: #ECECEC;
}
img::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
img::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

figcaption::-moz-selection {
  background-color: #ECECEC;
}

figcaption::selection {
  background-color: #ECECEC;
}
figcaption::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
figcaption::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

input::-moz-selection {
  background-color: #ECECEC;
}

input::selection {
  background-color: #ECECEC;
}
input::-moz-selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}
input::selection .button-bg {
  border: 2px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}