@font-face{
    font-family:'NeueMontreal-Book';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/PPNeueMontreal-Book.eot');
	src: url('../fonts/PPNeueMontreal-Book.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/PPNeueMontreal-Book.woff2') format('woff2'), 
		 url('../fonts/PPNeueMontreal-Book.woff') format('woff'),
		 url('../fonts/PPNeueMontreal-Book.ttf') format('truetype');
}

@font-face{
    font-family:'NeueMontreal-Medium';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/PPNeueMontreal-Medium.eot');
	src: url('../fonts/PPNeueMontreal-Medium.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2'), 
		 url('../fonts/PPNeueMontreal-Medium.woff') format('woff'),
		 url('../fonts/PPNeueMontreal-Medium.ttf') format('truetype');
}

@font-face{
    font-family:'NeueMontreal-Bold';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/PPNeueMontreal-Bold.eot');
	src: url('../fonts/PPNeueMontreal-Bold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2'), 
		 url('../fonts/PPNeueMontreal-Bold.woff') format('woff'),
		 url('../fonts/PPNeueMontreal-Bold.ttf') format('truetype');
}

@font-face{
    font-family:'NeueMontreal-Italic';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/PPNeueMontreal-Italic.eot');
	src: url('../fonts/PPNeueMontreal-Italic.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/PPNeueMontreal-Italic.woff2') format('woff2'), 
		 url('../fonts/PPNeueMontreal-Italic.woff') format('woff'),
		 url('../fonts/PPNeueMontreal-Italic.ttf') format('truetype');
}

@font-face{
    font-family:'NeueHaas-LightItalic';
    font-weight:normal;
    font-style:italic;
    src: url('../fonts/NHaasGroteskDSPro-26ThIt.eot');
	src: url('../fonts/NHaasGroteskDSPro-26ThIt.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/NHaasGroteskDSPro-26ThIt.woff2') format('woff2'), 
		 url('../fonts/NHaasGroteskDSPro-26ThIt.woff') format('woff'),
		 url('../fonts/NHaasGroteskDSPro-26ThIt.ttf') format('truetype');
}

@font-face{
    font-family:'NeueHaas-Italic';
    font-weight:normal;
    font-style:italic;
    src: url('../fonts/NHaasGroteskDSPro-36XLtIt.eot');
	src: url('../fonts/NHaasGroteskDSPro-36XLtIt.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/NHaasGroteskDSPro-36XLtIt.woff2') format('woff2'), 
		 url('../fonts/NHaasGroteskDSPro-36XLtIt.woff') format('woff'),
		 url('../fonts/NHaasGroteskDSPro-36XLtIt.ttf') format('truetype');
}

@font-face{
    font-family:'Whyte-Medium';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/ABCWhyte-Medium-Trial.eot');
	src: url('../fonts/ABCWhyte-Medium-Trial.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/ABCWhyte-Medium-Trial.woff2') format('woff2'), 
         url('../fonts/ABCWhyte-Medium-Trial.ttf') format('truetype');
}

@font-face{
    font-family:'Whyte-Regular';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/ABCWhyte-Regular-Trial.eot');
	src: url('../fonts/ABCWhyte-Regular-Trial.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/ABCWhyte-Regular-Trial.woff2') format('woff2'), 
         url('../fonts/ABCWhyte-Regular-Trial.ttf') format('truetype');
}

@font-face{
    font-family:'Pressura-Regular';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/AGT-Pressura-Mono-Regular-Trial.eot');
	src: url('../fonts/GT-Pressura-Mono-Regular-Trial.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/GT-Pressura-Mono-Regular-Trial.woff2') format('woff2');
}

@font-face{
    font-family:'Pressura-Light-Italic';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/GT-Pressura-Mono-Light-Italic-Trial.eot');
	src: url('../fonts/GT-Pressura-Mono-Light-Italic-Trial.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/GT-Pressura-Mono-Light-Italic-Trial.woff2') format('woff2');
}

@font-face{
    font-family:'Pressura-Medium';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/GT-Pressura-Mono-Medium-Trial.eot');
	src: url('../fonts/GT-Pressura-Mono-Medium-Trial.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/GT-Pressura-Mono-Medium-Trial.woff2') format('woff2');
}

@font-face{
    font-family:'Pressura-Bold';
    font-weight:normal;
    font-style:normal;
    src: url('../fonts/GT-Pressura-Mono-Bold-Trial.eot');
	src: url('../fonts/GT-Pressura-Mono-Bold-Trial.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/GT-Pressura-Mono-Bold-Trial.woff') format('woff'), 
		 url('../fonts/GT-Pressura-Mono-Bold-Trial.woff2') format('woff2'), 
         url('../fonts/GT-Pressura-Mono-Bold-Trial.ttf') format('truetype');
         
}