//* flex layout *//

/* spacing */

@mixin between-section-margin-large{
    margin-bottom:10rem;
}

@mixin between-section-margin{
    margin-bottom:5rem;
}

@mixin within-section-margin{
    margin-bottom:2rem;
}

@mixin within-section-margin-small{
    margin-bottom:1rem;
}

/* outer container around all content */
.outer-container {
    // margin-left: 25vw;
    // margin-right: 25vw;
    // margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: red 1px solid;
}

.content-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    // border: 1px blue solid;
    width:50rem;
}

/* container for site title and nav */
.title-container{
    // @include between-section-margin;
    display:flex;
    flex-direction: row;
    align-items: baseline;
    width: 97vw;
    height:3rem;
}

/* container for nav buttons */
.nav-container {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items: baseline;
    justify-content:right;
    gap: 0.5rem;
    flex:1;

    // border: orange solid 1px;
}

/* nav bar */
.nav-bar {
    width: 100vw;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include within-section-margin;
}

/* container for image icon and title */
.header-outer-container{
    display:flex;
    flex-direction:column;
    width:50rem;
    @include within-section-margin;

    // border: red solid 1px;
}

/* container for book title and author */
.header-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    @include within-section-margin;

    // border: orange solid 1px;
}

/* container for image buttons */
.image-button-container{
    display:flex;
    flex-direction:row;
    justify-content:right;
    padding:0.2rem;

    // border: pink solid 1px;
}

.takeaway-outer-container {
    display: flex;
    flex-direction:row;
    gap: 3rem;
    align-items:center;
    @include within-section-margin;
    // border: green solid 1px;
}

/* container for standout takeaway */
.takeaway-container {
    display: flex;
    flex-direction: column;
    justify-items: right;
    // max-width:25rem;
    gap:2rem;

    // border: cyan solid 1px;
}

/* container for credits/about page takeaway */
.takeaway-container-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap:2rem;
    // @include between-section-margin;
}

/* container containing subtitles and copy */
.copy-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    // max-width:40rem;
    @include within-section-margin;
}

/* container to divicde sections on credits and about page */
.copy-section-container{
    @include within-section-margin;
}

/* container for data information at bottom of takeaways */
.date-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:2rem;
    @include within-section-margin;
}

/* container for footer elements */
.footer{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer-nav{
    @include within-section-margin;
    // border:red 1px solid;
    width:50rem;
    display:flex;
    flex-direction:row;
}

.footer-links{
    @extend .nav-container;
    // border:orange 1px solid;
    // width:97vw;
}

/* for image buttons in footer */
.footer-button-container{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:50rem;
    @include between-section-margin;
}

//* landing page *//

/* holds takeaway list item and icon */
.takeaway-list-container{
    display:flex;
    flex-direction:column;
    align-items:left;
    @include between-section-margin-large;
    width: 50rem;
}

.takeaway-list-item{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    gap:1rem;
    border-radius:3rem;
    padding:0.2rem;
    padding-left:1.5rem;
    transition: background-color 0.3s ease-in-out;

    @include within-section-margin-small;


    h2{
        max-width:40rem;
    }
}


/* mobile layout modifications */
@media screen and (max-width:900px){

.takeaway-outer-container {
    display: flex;
    flex-direction:column;
    width:70vw;
    gap: 3rem;
    align-items:center;
    @include between-section-margin;

    // border: green solid 1px;
}

.content-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    // border: 1px blue solid;
    width:70vw;
}

.takeaway-list-container{
    display:flex;
    flex-direction:column;
    align-items:left;
    @include between-section-margin-large;
    width:70vw;
}

.footer-nav{
    @include within-section-margin;
    // border:red 1px solid;
    width:70vw;
    display:flex;
    flex-direction:row;
}

.header-outer-container{
    display:flex;
    flex-direction:column;
    width:70vw;
    @include within-section-margin;
}

.nav-bar {
    width: 100vw;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include between-section-margin;
}

}