$background_colour: #FCFCFC;
$text_colour: black;
$stroke_colour: black;
$recents_colour: #FFFA87;
$design_colour: #D0F1FF;
$psychology_colour: #FFE0FA;
$selfhelp_colour: #E9E1FF;
$philosophy_colour: #F0FF88;
$random_colour: #FFE3AC;

/* highlight quotes with section colour */

strong{
    background-color: $random_colour;
}

/* general button stroke turn section colour on hover */

.general-button:active{
    background-color: $random_colour;
    border: 3px;
}

.general-button:hover, nav-button:focus {
    border: 3px solid $random_colour;
}

/* show random button as selected */
.random-button {
    background-color: $random_colour;
    border: 3px solid $random_colour;
}

/* general icon buttons */

.button-bg:hover, button-bg:focus{
    border: 2px solid $random_colour;
    border-radius:50%;
    width:3.5rem;
    height:3.5rem;
}

.button-bg:active{
    border: 2px solid $random_colour;
    background-color: $random_colour;
    border-radius:50%;
    width:3.5rem;
    height:3.5rem;
}

.open-button:hover, open-button:focus{
    border: 2px solid $background-colour;
    border-radius:50%;
    width:3.5rem;
    height:3.5rem;
}

.open-button:active{
    border: 2px solid $background-colour;
    background-color: $background-colour;
    border-radius:50%;
    width:3.5rem;
    height:3.5rem;
}

/* hovered bar highlights in section colour */
.takeaway-list-item:hover, .takeaway-list-item:focus, .takeaway-list-item:active{

        background-color: $random_colour;

            .button-bg{
                border: 2px solid $random_colour;
                border-radius: 50%;
                width: 3.5rem;
                height: 3.5rem;
            }
}


/* cursor selection matches section colour */

@mixin background-colour {
    background-color: $random_colour;
}

p::selection {
    @include background-colour;
}

em::selection {
    @include background-colour;
}

strong::selection {
    @include background-colour;
}

code::selection {
    @include background-colour;
}

h1::selection {
    @include background-colour;
}

h2::selection {
    @include background-colour;
}

h3::selection {
    @include background-colour;
}

h4::selection {
    @include background-colour;
}

h5::selection {
    @include background-colour;
}

a::selection {
    @include background-colour;
}

ul::selection {
    @include background-colour;
}

ol::selection {
    @include background-colour;
}

li::selection {
    @include background-colour;
}

img::selection {
    @include background-colour;
}

figcaption::selection {
    @include background-colour;
}

input::selection {
    @include background-colour;
}