/* highlight quotes with section colour */
strong {
  background-color: #ECECEC;
}

/* general button stroke turn section colour on hover */
.general-button:active {
  background-color: #ECECEC;
  border: 0px;
}

.general-button:hover, nav-button:focus {
  border: 1px solid #ECECEC;
}

/* show philosophy button as selected */
.recents-button {
  background-color: #ECECEC;
  border: 1px solid #ECECEC;
}

/* general icon buttons */
.button-bg:hover, button-bg:focus {
  border: 1px solid #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.button-bg:active {
  border: 1px solid #ECECEC;
  background-color: #ECECEC;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.open-button:hover, open-button:focus {
  border: 1px solid white;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

.open-button:active {
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
}

/* hovered bar highlights in section colour */
.takeaway-list-item:hover.philosophy, .takeaway-list-item:focus.philosophy, .takeaway-list-item:active.philosophy {
  background-color: #A9FF76;
}
.takeaway-list-item:hover.design, .takeaway-list-item:focus.design, .takeaway-list-item:active.design {
  background-color: #A0E3FF;
}
.takeaway-list-item:hover.random, .takeaway-list-item:focus.random, .takeaway-list-item:active.random {
  background-color: #FFF620;
}
.takeaway-list-item:hover.psychology, .takeaway-list-item:focus.psychology, .takeaway-list-item:active.psychology {
  background-color: #FFD0FD;
}

/* cursor selection matches section colour */
p::-moz-selection {
  background-color: #ECECEC;
}
p::selection {
  background-color: #ECECEC;
}

em::-moz-selection {
  background-color: #ECECEC;
}

em::selection {
  background-color: #ECECEC;
}

strong::-moz-selection {
  background-color: #ECECEC;
}

strong::selection {
  background-color: #ECECEC;
}

code::-moz-selection {
  background-color: #ECECEC;
}

code::selection {
  background-color: #ECECEC;
}

h1::-moz-selection {
  background-color: #ECECEC;
}

h1::selection {
  background-color: #ECECEC;
}

h2::-moz-selection {
  background-color: #ECECEC;
}

h2::selection {
  background-color: #ECECEC;
}

h3::-moz-selection {
  background-color: #ECECEC;
}

h3::selection {
  background-color: #ECECEC;
}

h4::-moz-selection {
  background-color: #ECECEC;
}

h4::selection {
  background-color: #ECECEC;
}

h5::-moz-selection {
  background-color: #ECECEC;
}

h5::selection {
  background-color: #ECECEC;
}

a::-moz-selection {
  background-color: #ECECEC;
}

a::selection {
  background-color: #ECECEC;
}

ul::-moz-selection {
  background-color: #ECECEC;
}

ul::selection {
  background-color: #ECECEC;
}

ol::-moz-selection {
  background-color: #ECECEC;
}

ol::selection {
  background-color: #ECECEC;
}

li::-moz-selection {
  background-color: #ECECEC;
}

li::selection {
  background-color: #ECECEC;
}

img::-moz-selection {
  background-color: #ECECEC;
}

img::selection {
  background-color: #ECECEC;
}

figcaption::-moz-selection {
  background-color: #ECECEC;
}

figcaption::selection {
  background-color: #ECECEC;
}

input::-moz-selection {
  background-color: #ECECEC;
}

input::selection {
  background-color: #ECECEC;
}